/*  your css code here. If applicable */
#H1{
	text-align: center;
}
img{
	height: 200px;
}

#A1 {
	color: blue;
}
#A2 {
	color: blue;
}
#P1 {
	color: blue;
}
#P2 {
	color: blue;
}
#P3 {
	color: purple
}

